@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');



.home-title {
    font-family: 'Italiana', serif;
    font-size: 2em;
}
            


body {
  max-width:1600px;
  margin: 0 auto;
  padding: 0;  
  text-align: center;
  background-color: #fca6c9;
  

}

#president{
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    padding-bottom: 1em;
}
img {
    width: 20%;
    display: block;
    margin: 0 auto;
}

.topics {
    font-size:smaller;
    font-family: 'Roboto', sans-serif;
    text-align: center;    
    margin-left: 20%;
    margin-right: 20% 
    
}

li {
    text-align: left;
    font-family: 'Poppins', sans-serif;
    
}


h1{
    display: block;
   
    color: white;
    font-family: 'Roboto', sans-serif;
}

h2, h4{
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
}

h3{
    text-align: center;
    width: 35%;
    margin: 0 auto;
   
    font-family: 'Roboto Slab', sans-serif;
}
h6 {
    text-align: center;
    width: 55%;
    margin: 0 auto;
    padding-bottom: 1em;
    color: white;
    font-family: 'Roboto Slab', serif;
}


p{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    width: 65%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 1em;
}

h1:hover {


    color: black;
}